<mat-nav-list appAccordion>
    <mat-list-item appAccordionLink *ngFor="let itemMenu of listMenu" routerLinkActive="active" (click)="getName(itemMenu)" [routerLink]="['/menu/', itemMenu.state]">
        <mat-icon mat-list-icon> {{itemMenu.icon}} </mat-icon>
        <a class="" appAccordionToggle  *ngIf="itemMenu.type === 'link' && isExpanded ">
            <span> {{itemMenu.name}} </span>
            <span fxFlex></span>
        </a>
    </mat-list-item>
    <mat-list-item (click)="logOut()">
        <mat-icon mat-list-icon> power_settings_new </mat-icon>
        <a class="" appAccordionToggle  *ngIf="isExpanded">
            <span> Logout </span>
            <span fxFlex></span>
        </a>
    </mat-list-item>
</mat-nav-list>