<div *ngIf="!loading">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div id="content">
      <div class="container">
        <div class="row">

          <div *ngFor="let question of questions" class="col-6">
            <div *ngIf="questions"></div>
            <app-dynamic-form-question  [question]="question" [form]="form"></app-dynamic-form-question>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-3 offset-md-9">
        <button mat-flat-button color="primary" type="submit" >Guardar</button>
      </div>
    </div>
  </form>
</div>

<div *ngIf="loading">
  <app-loading></app-loading>
</div>